@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    /* Add a style block to define the background color */
    body {
        background-color: #CFEDFD; /* f2f2f2 Set the background color to light gray (you can use any valid color code) */
    }
</style>

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome To Contact Manager</h1></div>

<div class="text-center">
    @*<p> Welcome to Contact Manager Application. This application has three roles</p>*@
    <br /> <br /> <img src="~/images/Home.png" align="center" height="300px" width="700px" />
    <br />
    <br />
    <ul>
               
        @*<li> Normal End User</li>*@
    </ul>
</div>
